.p1 {
    width: 200px;
    height: 200px;
    background-color: cornflowerblue;
    font-size: 32px;
    text-decoration: underline;
}

.p2 {
    font-weight: 200;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: aqua;
}

.p3 {
    word-spacing: 40;
    background-color: blue;
    width: 200px;
    height: 200px;
}

.p4 {
    width: 200px;
    border: 1px solid black;
    height: 200px;
    box-shadow: 0 4px 8px rgba(10, 43, 71, 0.288);
    background-color: brown;
}