@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap');

html {
    background-image: url(../img/BGopac20.png);
    color: #000000fd;
    font-family: Montserrat;
    height: auto;
    width: auto;
    margin: auto;
}

a {
    color: #000000;
    text-decoration: none;
}

.headerli:hover {
    background-color: rgb(171, 190, 255);
    transform: scale(1.1);
}

body {
    margin: auto;
    width: 1920px;
}

header {
    background-color: #ce6f270e;
    border-color: #b98a2d0c;
    height: 45px;
}

.navLiCurrentActive {
    scale: 1.1;
    text-shadow: 1px 0 black, 1px 0 black, 1px 0 black, 1px 0 black;
    display: inline-block;
    margin-top: 5px;
    width: 85px;
    height: 35px;
    margin-left: 12px;
    border-radius: 28px;
    background-color: rgb(171, 190, 255);
    border: #0f0a0a00;
    box-shadow: 1px 1px 8px #0a3b52cc;
    text-align: center;
    line-height: 2.2; 
}

.navLi {
    text-shadow: 1px 0 black, 1px 0 black, 1px 0 black, 1px 0 black;
    display: inline-block;
    margin-top: 5px;
    width: 85px;
    height: 35px;
    margin-left: 12px;
    border-radius: 28px;
    background-color: rgba(97, 172, 238, 0.6);
    border: #0f0a0a00;
    box-shadow: 1px 1px 8px #0a3b52cc;
    text-align: center;
    line-height: 2.2; 
    
}

.navLi:hover {
    background-color: #abbeff;
    transform: scale(1.1);
}

.navLiCurrentActive:hover {
    background-color: #61acee99;
}

.gitimg 
{
    width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}

main {
    max-width: 1400px;
    max-height: auto;
    margin: auto;
}

.float {
    float: left;
    box-shadow: 1px 1px 8px #0a3b52cc;
    background: #0808081a;
    color: #000000;
    width: 300px;
    height: 650px;
    border: #707070cc;
    margin-left: 50px;
    margin-top: 75px;
}

.raidSorter {
    text-align: center;
    padding: 0;
 }


.float:hover {
    scale: 1.1;
}

.link {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20 60;
    padding: 5px;
    text-align: center;
    width: 165px;
    height: 25px;
    border-radius: 28px;
    line-height: 25px;
}

#linkSorter {
    background-image: linear-gradient(#61acee99, #abbeff);
    background-color: #837c7c49;
    border: 1px solid #a12f8525;
    box-shadow: 0px 0px 2px 2px #1a0c1b56;
}


.triangleBottom {
    float: right;
    margin-right: 0px;
    margin-top: 762px;
    opacity: 3%;
    border-bottom: 100px solid purple;
    border-left: 100px solid transparent; 
}

footer {
    clear: both;
    background-color: #61BCE6;
    border-color: #61AFEE;
    color: #000000;
    font-size: 12px;
    text-align: center;
    width: 100%;
    margin-top: 86px;
    height: 30px;
}