#header {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 55px;
  }
  
  #header {
    opacity: 0.05;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 55px;
    border: 1px dashed #b98a2d;
    background: #ce6f27;
    background-blend-mode: normal;
  }  

#profielfoto {
    position: absolute;
    left: 133px;
    top: 138px;
    width: 174px;
    height: 0px;
    font-family: "Palatino Linotype";
    font-size: 37px;
    font-weight: 400;
    line-height: 0px;
  }

  #leftSideba {
    position: absolute;
    left: 50px;
    top: 96px;
    width: 350px;
    height: 860px;
  }

  #main {
    opacity: 0.1;
    position: absolute;
    left: 0px;
    top: 56.6px;
    width: 1920px;
    height: 995px;
  }

#footer {
    opacity: 0.65;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 1920px;
    height: 30px;
    margin-top: 150px;
    font-family: "Palatino Linotype";
    font-size: 12px;
    font-style: italic;
    text-align: center;
    -webkit-text-stroke: dashed 1px rgba(0,0,0,0.3)
    font-weight: 400;
    line-height: 15px;
    border: 1px dashed #61afee;
    background: #61bce6;
    background-blend-mode: normal;
  }

  